/* For use in src/lib/core/theming/_palette.scss */
$primary: (
    50 : #eaeeef,
    100 : #ccd4d7,
    200 : #aab7bd,
    300 : #879aa2,
    400 : #6e848e,
    500 : #546e7a,
    600 : #4d6672,
    700 : #435b67,
    800 : #3a515d,
    900 : #293f4a,
    A100 : #95d9ff,
    A200 : #62c7ff,
    A400 : #2fb5ff,
    A700 : #15acff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$accent: (
    50 : #fff6e0,
    100 : #ffe8b3,
    200 : #ffd980,
    300 : #ffca4d,
    400 : #ffbe26,
    500 : #ffb300,
    600 : #ffac00,
    700 : #ffa300,
    800 : #ff9a00,
    900 : #ff8b00,
    A100 : #ffffff,
    A200 : #fff9f2,
    A400 : #ffdfbf,
    A700 : #ffd2a6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$warn: (
    50 : #e4f1fc,
    100 : #bcdbf7,
    200 : #8fc4f2,
    300 : #62aced,
    400 : #409ae9,
    500 : #1e88e5,
    600 : #1a80e2,
    700 : #1675de,
    800 : #126bda,
    900 : #0a58d3,
    A100 : #fdfeff,
    A200 : #cadcff,
    A400 : #97bbff,
    A700 : #7eaaff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
