@use "node_modules/mdb-angular-ui-kit/assets/scss/mdb.scss";
@use "@fortawesome/fontawesome-free/scss/fontawesome.scss";
@use "@fortawesome/fontawesome-free/scss/solid.scss";
@use "@fortawesome/fontawesome-free/scss/regular.scss";
@use "@fortawesome/fontawesome-free/scss/brands.scss";
@use "./app/shared/styles/theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
